.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjusts spacing between columns */
}

.col {
    flex-basis: calc(50% - 10px); /* Two columns per row; adjust as needed */
    box-sizing: border-box;
}
.colimages{
    flex-basis: calc(20% - 5px); /* Two columns per row; adjust as needed */

}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
/* Adjust the breakpoint as needed */
    .col {
        flex-basis: 100%; /* Full width for columns on smaller screens */
    }
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 100; /* Set an appropriate z-index value */
}

#return{
    background-color: var(--background-color);

}
#return:hover{
    font-weight: bold;
    /* border-left: 7px dotted white; */
    color: var(--foreground-color);
    text-shadow: -1px -1px 0 var(--highlight), 1px -1px 0 var(--highlight), -1px 1px 0 var(--highlight), 1px 1px 0 var(--highlight);
}

.portfolioPage{
    padding-top: 5em;
}

h1{
    font-size: 1.6em;
    font-weight:500;
}

